<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Transaction</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

    <button ion-button full round (click)="onButtonClick()">Envoi</button>
    <div class="row"></div>
    <button ion-button full round (click)="offButtonClick()">Retrait</button>

  <form #f="ngForm" (ngSubmit)="onsubmit(f.value)">

    <ion-item>
      <ion-input *ngIf="butonClicked" type="text" id="client_emetteur" name="client_emetteur" ngModel
        placeholder="client_emetteur">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input *ngIf="butonClicked" type="text" id="tel_emetteur" name="tel_emetteur" ngModel
        placeholder="tel_emetteur"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input *ngIf="butonClicked" type="text" id="nci_emetteur" name="nci_emetteur" ngModel
        placeholder="nci_emetteur"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input *ngIf="butonClicked" type="number" id="Montant" name="Montant" ngModel placeholder="montant"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input *ngIf="butonClicked" type="text" id="client_recepteur" name="client_recepteur" ngModel
        placeholder="client_recepteur">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input *ngIf="butonClicked" type="text" id="tel_recepteur" name="tel_recepteur" ngModel
        placeholder="tel_recepteur"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input *ngIf="buttonClicked" type="text" id="code" name="code" ngModel placeholder="code"></ion-input>
      </ion-item>
    <ion-item>
      <ion-input *ngIf="buttonClicked" type="text" id="nci_recepteur" name="nci_recepteur" ngModel placeholder="nci_recepteur"></ion-input>
    </ion-item>
    <ion-button type="submit">Envoyer</ion-button>
  </form>
</ion-content>