<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Moonawa
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header> 
    <ion-card-title>kim Ndioba</ion-card-title>
  </ion-card-header>
 
    <ion-card-content>
      <ion-img src="{{contact.logo}}"></ion-img>   
      <ion-list>
          <ion-item>name:{{contact.name}}</ion-item>
          <ion-item>tel:{{contact.tel}}</ion-item>
          <ion-item>email:<strong>{{contact.email}}</strong></ion-item>
        </ion-list>  
      <ion-img src="{{contact.location}}"></ion-img>
    </ion-card-content>
  </ion-card>
</ion-content>
